In [1]:
import numpy as np

In [24]:
import math

In [28]:
def create_array (start,length,stop):
    step= math.floor((stop+start)/length)
    return np.arange(start, stop, step)

print(create_array(6,100,404))

[  6  10  14  18  22  26  30  34  38  42  46  50  54  58  62  66  70  74
  78  82  86  90  94  98 102 106 110 114 118 122 126 130 134 138 142 146
 150 154 158 162 166 170 174 178 182 186 190 194 198 202 206 210 214 218
 222 226 230 234 238 242 246 250 254 258 262 266 270 274 278 282 286 290
 294 298 302 306 310 314 318 322 326 330 334 338 342 346 350 354 358 362
 366 370 374 378 382 386 390 394 398 402]

In [34]:
a = np.array([1,2,3,np.nan,5,6,7,np.nan])
a = a[~np.isnan(a)]
print(a)

[1. 2. 3. 5. 6. 7.]

In [35]:
import random

In [41]:
arr = np.random.randint(0,100,30)
arr = arr.reshape(5,6)
np.max(arr, 1)

array([90, 86, 73, 84, 99])

In [47]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.4-cp38-cp38-macosx_10_9_x86_64.whl (11.4 MB)
     |████████████████████████████████| 11.4 MB 11.7 MB/s
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.4
Note: you may need to restart the kernel to use updated packages.

In [48]:
import pandas as pd

In [59]:
series = pd.Series(np.take(list('abcdefghijklmnop'), np.random.randint(16, size=500)))
series.unique()
series.value_counts()

h    40
o    38
i    37
k    36
n    35
g    35
c    34
b    32
d    31
a    30
f    28
l    28
j    27
p    27
e    22
m    20
dtype: int64

In [61]:
pip install python-dateutil

Requirement already satisfied: python-dateutil in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [82]:
import dateutil as date
from dateutil import parser
from datetime import datetime

In [98]:
series = pd.Series(['01 Jan 2020', '10-19-2020', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])
for srs in series:
    day= parser.parse(srs).strftime("%-d")
    print(day)
    week_number= parser.parse(srs).strftime("%U")
    print(week_number)
    day_year = parser.parse(srs).strftime("%j")
    print(day_year)
    day_week= parser.parse(srs).strftime("%A")
    print(day_week)

1
00
001
Wednesday
19
42
293
Monday
3
09
062
Tuesday
4
13
094
Thursday
5
18
126
Saturday
6
22
157
Thursday

In [135]:
new_file = pd.read_csv("cars.csv")
new_file.head()
new_file.dtypes.value_counts()
new_file.rename(columns={"Type": "TypeOfCar"})
new_file.drop(columns=['EngineSize', 'Length'])
new_file.head()

,Unnamed: 0,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i